<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Utah Motor Vehicle Collisions</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="css/mdb.min.css" />*@

    <link href="~/css/bootstrap5.1/bootstrap.min.css" rel="stylesheet" />

    <link rel="shortcut icon" type="image/x-icon" href="~/img/UTMVC (5).png">
    <!-- Load Require CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font CSS -->
    <link href="~/css/boxicon.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Load Tempalte CSS -->
    <link rel="stylesheet" href="~/css/templatemo.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">
</head>
<body>
    @RenderBody()
    <!-- Bootstrap -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- Load jQuery require for isotope -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Isotope -->
    <script src="~/js/isotope.pkgd.js"></script>
    <!-- Templatemo -->
    <script src="~/js/templatemo.js"></script>
    <!-- Custom -->
    <script src="~/js/custom.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>