<Router AppAssembly="typeof(Startup).Assembly">
    <Found>
        <RouteView RouteData="@context" DefaultLayout="typeof(CollisionLayout)"/>
    </Found>
    <NotFound>
        <h4 class="bg-warning text-center font-weight-bold">No Matching Route Found</h4>
    </NotFound>
</Router>