@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Your account has been created! Inorder to access the full features of the site please check your email for a confirmation link so we can verify your email.
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
