@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us";
}

<!--Team members section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our Team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to building a better Utah</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/lane-alicia.jpg" alt="Alicia Lane" />
                    <h5 class="fw-bolder">Alicia Lane</h5>
                    <div class="fst-italic text-muted"></div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/donaldson-jacob.jpg" alt="Jacob Donaldson" />
                    <h5 class="fw-bolder">Jacob Donaldson</h5>
                    <div class="fst-italic text-muted"></div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/kinghorn-jessica.jpg" alt="Jessica Kinghorn" />
                    <h5 class="fw-bolder">Jessica Kinghorn</h5>
                    <div class="fst-italic text-muted"></div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="~/img/perry-matthew.jpg" alt="Matt Perry" />
                    <h5 class="fw-bolder">Matt Perry</h5>
                    <div class="fst-italic text-muted"></div>
                </div>
            </div>
        </div>
    </div>
</section>