@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome to the Community</h1>
<p>
    In the future this page will allow community members to share thoughts, stories, or events related to vehicle collisions in Utah. Sit down, chat, find solutions, and have a nice cold rootbeer.
</p>