@page "/admin/confirmation/"

@inherits OwningComponentBase<ICollisionRepository>

<br />
<br />
<div class="text-center">
    <h2>Thanks! Your change has been made.</h2>
    <a class="btn btn-primary" href="/admin">Go Back</a>
</div>
<br /><br /><br /><br /><br /><br />