@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />
<h3 class="text-center">Data Analytics</h3>

<br />
<div class="row">
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                Prediction
            </div>
            <div class="card-body">
                <h5 class="card-title">Crash Severity Prediction</h5>
                <p class="card-text">Use this model to predict the severity of a crash based on crash features</p>
                <a class="btn btn-primary" asp-controller="DataAnalytics" asp-action="SeverityPredicter">Start a Prediction</a>
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                Analytics
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">Dashboard for Power BI reports and data visualizations</p>
                <a class="btn btn-primary" href="~/PowerBiReport.pdf">View Visualizations</a>
            </div>
            <div class="card-footer text-muted">
               
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-center">
            <div class="card-header">
                Prediction
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                
            </div>
        </div>
    </div>
</div>
<br />
<div class="card text-center">
    <div class="card-header">
        Analytics
    </div>
    <div class="card-body">
        <h5 class="card-title">Data Visualizations</h5>
        <p class="card-text">Dashboard for Power BI reports and data visualizations</p>
        <a class="btn btn-primary" href="~/PowerBiReport.pdf">View Visualizations</a>
    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>
