@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<h1 class="text-center">Visualizations</h1>
<div class="card">
    <div class="card-header">Crashes by Hour</div>
    <img src="~/CrashesByHour.png" type="application/pdf" width="100%"/>
</div>
<br />
<div class="card">
    <div class="card-header">Crashes by Month (2019)</div>
    <img src="~/MonthsOf2019.png" type="application/pdf" width="100%"/>
</div>
<br />
<div class="card">
    <div class="card-header">Crash Severity by Teenage Driver</div>
    <img src="~/TeenageDriver.png" type="application/pdf" width="100%" />
</div>
<br />
<div class="card">
    <div class="card-header">Comparing Features of Fatal Crashes</div>
    <img src="~/ComparingPercentageFatalCrashes.png" type="application/pdf" width="100%" />
</div>
<br />
